@charset "UTF-8";
/* CSS Document */

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#main {
	width: inherit;
	height: inherit;
	margin: 0;
	padding: 0;
	background-color: grey;
	overflow: hidden;
	display: table;
    table-layout: fixed;
}

.test{
	/*display: table-cell;*/
	
	height: 100%;
	width: 10px;
	background-color: aqua;
	display: table;
    table-layout: fixed;
}

.vertical{
	width: 10px;
	height: 100%;
	display: table-cell;
	background-color: purple;
}

.container{
	display: table-cell;
	height: 100%;
	width: 100%;
}