@charset "UTF-8";
/* CSS Document */

html,body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.helper{
	width: 100%;
	height: 100%;
	background-color: black;
}

.helper[or="vertical"]{
	width: 4px;
	display: inline-block;
	cursor: ew-resize;
}

.helper[or="horizontal"]{
	height: 4px;
	cursor: ns-resize;
}

.content{
	background-color: purple;
	width: 100%;
	height: 100%;
}

.content[or="vertical"]{
	width: calc(50% - 2px);
	display: inline-block;
}

.content[or="horizontal"]{
	height: calc(50% - 2px);
}

.contentBody{
	width: 100%;
	height: calc(100% - 20px);
	overflow: hidden;
}

.tabBar{
	width: 100%;
	height: 20px;
	background-color:grey;
	overflow:visible;
	display: table;
}

.subTabBar{
	width: 100%;
	height: 30px;
	background-color: dimgrey;
}

.tab{
	background-color: aqua;
	height: 100%;
	width: 100px;
	display:table-cell;
    box-shadow:inset 0px 0px 1px 1px #000;
}

.tabfill{
	display: table-cell;
	height: 100%;
	width: 100%;
}

.thinRow{
	height: 50px;
	width: 100%;
}

.row{
	height: calc(100% - 100px);
	width: 100%;
}

.side{
	height: 100%;
	width: 50px;
	background-color: blue;
	display: inline-block;
}

.middle{
	width: calc(100% - 100px);
	height: 100%;
	display: inline-block;
}